*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .title {
    font-size: 2em;
    color: #333;
  }
  
  .search {
    padding: 10px;
    font-size: 1em;
    width:600px;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 100px;
  }
  
  .book-list {
    display: flex;
    
  }
  
  .book-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  margin: 20px;
  height:500px;
  }
  
  .book-item img {
    max-width: 100px;
    margin-bottom: 10px;
  }